# For CLIP:
torch>=1.10.2
tqdm
git+https://github.com/openai/CLIP.git

# COCO and LVIS API for evaluation:
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
lvis

# To import Sinkhorn matcher:
ott-jax<0.4.0
